<div id="Layout1">
    <ul id="column1" class="column">
        @*<li id="listitem1" ></li>*@
        @*@Html.Partial("~/Views/Widgets/widget1.cshtml")*@
        @*@Html.Partial("~/Views/Widgets/widget2.cshtml")*@
    </ul>
    <ul id="column2" class="column">
        @*@Html.Partial("~/Views/Widgets/widget3.cshtml")
            @Html.Partial("~/Views/Widgets/widget4.cshtml")*@
    </ul>
    <ul id="column3" class="column">
        @*@Html.Partial("~/Views/Widgets/widget5.cshtml")
            @Html.Partial("~/Views/Widgets/widget6.cshtml")*@
    </ul>
</div>