<div id="Layout2">
    <ul id="column1" class="column" style="width:49% !important">
        @*<li id="listitem1" ></li>*@
        @*@Html.Partial("~/Views/Widgets/widget1.cshtml")*@
        @*@Html.Partial("~/Views/Widgets/widget2.cshtml")*@
    </ul>
    <ul id="column2" class="column" style="width:48% !important">
        @*@Html.Partial("~/Views/Widgets/widget3.cshtml")
            @Html.Partial("~/Views/Widgets/widget4.cshtml")*@
    </ul>
</div>