
<li class="widget color-blue" id="Widget3">
    <div class="widget-head">
        <h3>jQueryScript.net</h3>
    </div>
    <div class="widget-content">
        <p><a href="http://www.jqueryscript.net/"><strong>Free jQuery Plugins, HTML5 and CSS3 Scripts</strong></a> - Providing tons of <em>Jquery Plugins</em>,<em>Html5 and CSS3 Scripts</em> for web developers to preview and download. By using these resources, you can create amazing effects with fancy animations of content elements like text, images and so on.</p>
    </div>
</li>
